---
import Notifs from "../assets/icons/notifs.svg?url"
import Logo from "../assets/logo.svg?url";

const { locals } = Astro;

const user = locals.pb.authStore.record;
const avatarUrl = user?.avatar
    ? locals.pb.files.getURL(user, user.avatar)
    : null;

interface Props {
    allHeader?: boolean;
    titrePage?: string;
}

const { allHeader = false, titrePage } = Astro.props;
---

{titrePage === "Accueil" ? (
    <header class="capitalize absolute font-montserrat mt-5 md:mt-5 flex items-center justify-between px-5 md:px-10 w-full">
        <div class="hidden md:flex items-center md:gap-10 lg:gap-20 mg:4/5 lg:w-3/5 xl:w-3/6 2xl:w-2/6">
            <a href="/accueil">
                <img src={Logo} alt="Logo Nura" class="h-25 hover:-rotate-2 transition ease-in-out">
            </a>
            <ul class="flex justify-between w-full text-tertiary/80 md:text-lg lg:text-xl font-bold">
                <li class="hover:text-tertiary hover:scale-110 transition ease-in-out"><a href="/aliments">Aliments</a></li>
                <li class="hover:text-tertiary hover:scale-110 transition ease-in-out"><a href="/recettes">Recettes</a></li>
                <li class="hover:text-tertiary hover:scale-110 transition ease-in-out"><a href="/regimes">Régimes</a></li>
            </ul>
        </div>
        <a href="/profil">
            <img src={avatarUrl} alt="avatar" class="w-15 h-15 md:w-17 md:h-17 lg:w-20 lg:h-20 rounded-full hover:rotate-2 transition ease-in-out object-cover" />
        </a>
        <div class="block md:hidden">
            <img src={Notifs} class="w-7" alt="Logo" />
        </div>
    </header>
) : (
    <header class="capitalize absolute font-montserrat mt-5 md:mt-5 flex items-center justify-between px-5 md:px-10 w-full">
        <div class="hidden md:flex items-center md:gap-10 lg:gap-20 mg:4/5 lg:w-3/5 xl:w-3/6 2xl:w-2/6">
            <a href="/accueil">
                <img src={Logo} alt="Logo Nura" class="h-25 hover:-rotate-2 transition ease-in-out">
            </a>
            <ul class="flex justify-between w-full text-tertiary/80 md:text-lg lg:text-xl font-bold">
                <li class="hover:text-tertiary hover:scale-110 transition ease-in-out"><a href="/aliments">Aliments</a></li>
                <li class="hover:text-tertiary hover:scale-110 transition ease-in-out"><a href="/recettes">Recettes</a></li>
                <li class="hover:text-tertiary hover:scale-110 transition ease-in-out"><a href="/regimes">Régimes</a></li>
            </ul>
        </div>
        <a href="/profil" class="flex items-center space-x-3">
            <img src={avatarUrl} alt="avatar" class="w-15 h-15 md:w-17 md:h-17 lg:w-20 lg:h-20 rounded-full hover:rotate-2 transition ease-in-out object-cover" />
            <div class="flex-col md:hidden">
                <div class="flex space-x-1 font-montserrat text-white text-xl">
                    <p class="">{user?.prenom}</p>
                    <p class="">{user?.nom}</p>
                </div>
            </div>
        </a>
        <div class="block md:hidden">
            <img src={Notifs} class="w-7" alt="Logo" />
        </div>
    </header>
)}